<footer>
  <div class="pie">
    <div class="texto 1">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Quasi repudiandae ut velit repellendus dolore eaque voluptatum 
        incidunt tenetur hic nesciunt quo nihil possimus quas, corrupti 
        consectetur magnam aut, voluptatibus quisquam!</p>
        <a href="/productos/listado"> INTRANET <i class="fa fa-transgender" aria-hidden="true"></i> </a>

    </div> 
      <p class="texto 2">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Quam odio officiis neque culpa aut ratione ipsa error cum earum 
            voluptatem quaerat iusto consequuntur quidem, 
            suscipit asperiores reprehenderit molestiae magnam quod.</p>
        <br>
         
      <ul class="lista">
        <li>Blog</li>
        <li>Acerca de</li>
        <li>Ayuda</li>
        <li>Contacto</li>
    </ul>
    
  </div>
</footer>