<footer>
  <div class="main-footer">
    <div class="social-media">
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-whatsapp"></i>
      <i class="fab fa-pinterest-p"></i>
    </div>
    <div class="info-footer">
      <div class="seccion-footer">
        <h2><i class="fas fa-archive"></i>Productos</h2>
          <li>Recomendados</li>
          <li>Lenceria</li>
          <li>Juguetes</li>
          <li>Accesorios y cremas</li>
      </div>
      <div class="seccion-footer">
        <h2><i class="fas fa-info-circle"></i>Informacion</h2>
        <li>Politica de seguridad</li>
        <li>Politica de envios</li>
        <li>Terminos y condiciones</li>
        <li>Boton de arrepentimiento</li>
      </div>
      <div class="seccion-footer">
        <h2><i class="far fa-envelope"></i>Contacto</h2>
        <i class="fas fa-map-marker-alt"></i> Av.Libertador 3351 CABA
        <li>Nosotros</li>
        <li>Contactanos</li>
      </div>
      <div class="seccion-footer">
        <h2><i class="fas fa-concierge-bell"></i>Horarios de atencion</h2>
        Lun a Sáb de 10 a 19hs.
      </div>
    </div>
  </div>
  <div class="derechos">
    <p style="padding-bottom: 10px; margin: 0px; font-weight: 600;">Copyright © 2021 - Fansclub Argentina | Todos los derechos reservados.</p>
  </div>
</footer>