<div class="header-top-bar">
  Envíos gratis a todo el país a partir de $7.500 | <a href="" style="color: white;"> Ver más </a>
</div>
<header>
  <div class="main-header-top-bar">
    <a href="/" id="logo">
      <span class="main-header-titulo"> fansclub. </span>
    </a>
    <div class="btn-menu">
      <label for="btn-menu"><i class="fas fa-bars"></i></label>
    </div>
    <input type="checkbox" id="btn-menu">
    <div class="container-menu">
        <div class="cont-menu">
            <nav>
                <a href="/productos/listado">Todos los productos</a>
                <a href="#">Buscar <i class="fas fa-search"></i></a>
                <a href="#">Contacto</a>
                <a href="#">Ayuda</a>
            </nav>
            <label for="btn-menu"><i class="fas fa-times"></i></label>
        </div>
    </div>
  </div>
  <div class="search-bar">
      <div class="menu-derecho">
          <div class="perfil" onclick="menuToggle();">
              <i class="fas fa-user"></i>
          </div>
          <div class="menu">
              <ul>
                <% if (locals.isLogged) { %> 
                  <li>
                      <i class="fas fa-user"></i>
                      <a href="/infoUser">Mi cuenta</a>
                  </li>
                  <li>
                      <i class="fas fa-pencil-alt"></i>
                      <a href="#">Editar cuenta</a>
                  </li>
                  <li>
                      <i class="fas fa-door-open"></i>
                      <a href="/logout" id="cerrar-sesion">Cerrar sesión</a>
                  </li>
                <% } else { %> 
                  <li>
                      <i class="fas fa-sign-in-alt"></i>
                      <a href="/login">Iniciar sesión</a>
                  </li>
                  <li>
                      <i class="far fa-clipboard"></i>
                      <a href="/register">Registrarse</a>
                  </li>
                <% } %> 
              </ul>
          </div>
      </div>
      <form action="" style="display: inline;" class="search-form">
        <input type="text" placeholder="Busca tus productos" class="search-input">
      </form>
      <% if (locals.isLogged) { %> 
        <a href="/carrito" id="shop-cart">
          <i class="fas fa-shopping-cart"> <span id="contador-carrito"> 0 </span> </i>
        </a>
      <% } %> 
  </div>
</header>