<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ('./partials/head.ejs') %>
        <title>Carrito de Compras</title>
        <link rel="stylesheet" href="/css/styles.css">  
    </head>
<body id="fondo">
    <%- include ('./partials/header.ejs') %>
        <h2 class="titulo-carrito"> Carrito de Compras </h2>
        <section class="detalle-carrito">
            <div class="informacion-productos-carrito">
                <h2 class="titulo-carrito">Detalle de los productos</h2>
                <div class="encabezado-carrito">
                    <h5 class="nombre-carrito">Articulo</h5>
                    <h5 class="precio-carrito">Precio</h5>
                    <h5 class="total-carrito">Total</h5>
                </div>
                <div class="items-carrito">
                    <img src="/images/products/imgProduct1634236145220.jpg" alt="" class="imagen-carrito">
                    <h5 class="nombre-carrito articulo">Vibrador XPRO</h5>
                    <h5 class="precio-carrito articulo">$8000</h5>
                    <h5 class="total-carrito articulo">$8000</h5>
                    <i class="fas fa-trash borrar-item"></i>
                </div>
            </div>
            <div class="resumen-compra">
                <h2 class="titulo-carrito">Resumen</h2>
                <div class="resumen-total">
                    <div class="total-productos">
                        <span>Total:</span>
                        <span class="a-pagar">$8000</span>
                    </div>
                    <div class="envio-productos">
                        <span>Envío:</span>
                        <span class="a-pagar">$1000</span>
                    </div>
                    <div class="total-pago">
                        <span>Total con envío:</span>
                        <span class="a-pagar">$9000</span>
                    </div>
                    <div class="codigo-promocion">
                        <label for="promocion">Codigo:</label>
                        <input type="text" name="promocion" placeholder="Codigo promocion">
                    </div>
                    <div class="btn-carrito">
                        <button>CONTINUAR COMPRA</button>
                    </div>
                </div>
            </div>
        </section>
        <%- include ('./partials/footer.ejs') %>
        <script>
            function menuToggle(){
                const toggleMenu = document.querySelector('.menu');
                toggleMenu.classList.toggle('active')
            }
        </script>
    </body>
</html>